<div class="row">
  <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <form action="#" class="form-stepper mt-4 mb-4">
      <h1 class="text-center">Agenda tu consulta virtual</h1>
      <!--PROGRESS BAR-->
      <div class="progressbar">
        <div class="progress" id="progress"></div>
        <div class="progress-step progress-step-active" data-title="Tus datos"></div>
        <div class="progress-step" data-title="Tu medico"></div>
        <div class="progress-step" data-title="Pago"></div>
        <div class="progress-step" data-title="Resumen"></div>
      </div>
      <!--END PROGRESS BAR-->
      <!--STEPS-->
      <div class="form-step form-step-active">
        <jhi-directorio-medico (doctorSelect)="getDoctor($event)"></jhi-directorio-medico>
      </div>
      <div class="form-step">
        <jhi-detalles-medico *ngIf="doctorSelect" [directorioMedico]="directorioMedicoSelect" [doctor]="doctorSelect">
        </jhi-detalles-medico>
        <div class="btns-group">
          <button type="button" class="btn btn-light-blue btn-prev w-25">Regresar</button>
          <button type="button" class="btn btn-light-blue btn-next w-25">Continuar</button>
        </div>
      </div>
      <div class="form-step">
        <jhi-horario-solicitud
          *ngIf="doctorSelect"
          [doctormodel]="doctorSelect"
          [userModel]="userAccount"
          (horarySelect)="getEnabledHorary($event)"
          (resumenCita)="getResumenCita($event)"
        ></jhi-horario-solicitud>
        <div class="btns-group">
          <button type="button" class="btn btn-light-blue btn-prev w-25">Regresar</button>
          <button [disabled]="horarioDisponible" type="button" class="btn btn-light-blue btn-next w-25">Continuar</button>
        </div>
      </div>
      <div class="form-step">
        <jhi-resumen-pago
          *ngIf="doctorSelect"
          [doctormodel]="doctorSelect"
          [userModel]="userAccount"
          [citaSolicitud]="resumenCita"
        ></jhi-resumen-pago>
        <div class="btns-group">
          <button type="button" class="btn btn-light-blue btn-prev w-25">Regresar</button>
        </div>
      </div>
      <!--END STEPS-->
    </form>
  </div>
</div>
