<!-- Column -->
<ng-container>
  <h1>SALA VIRTUAL</h1>

  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-1 pr-0"></div>
        <div class="col-md-1 pr-0">
          <div style="width: 50px; height: 50px">
            <jhi-single-file-template
              *ngIf="userAccount && userAccount.fotoPersona"
              class="tooltip-options-profile"
              [file]="userAccount.fotoPersona"
              [imageStyleProfile]="{ height: '100%', width: '100%' }"
              [borderImageType]="'rounded'"
              [endpoint]="'file'"
              [delete]="false"
            ></jhi-single-file-template>
          </div>
        </div>
        <div class="col-md-auto pl-0" style="display: flex">
          <div *ngIf="userAccount" style="margin: auto">
            <span>{{ userAccount.name + ' ' + userAccount.firstName + ' ' + userAccount.lastName }}</span>
          </div>
        </div>
        <div class="col-md-6" style="display: flex">
          <div class="button-group" style="margin-top: auto; margin-bottom: auto; margin-left: 2px">
            <button id="join" type="button" class="btn primary" (click)="joinChanel()">
              Unirse a la sala <fa-icon icon="portal-enter"></fa-icon>
            </button>
            <button id="leave" type="button" class="btn danger" (click)="joinChanel()">Leave</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-1 pr-0">
          <div style="width: 50px; height: 50px; margin-left: 10px">
            <jhi-single-file-template
              *ngIf="remoteUserAccount && remoteUserAccount.fotoPersona"
              class="tooltip-options-profile"
              [file]="remoteUserAccount.fotoPersona"
              [imageStyleProfile]="{ height: '100%', width: '100%' }"
              [borderImageType]="'rounded'"
              [endpoint]="'file'"
              [delete]="false"
            ></jhi-single-file-template>
          </div>
        </div>
        <div class="col-md-auto pl-0" style="display: flex">
          <div *ngIf="remoteUserAccount" style="margin: auto">
            <span>{{ remoteUserAccount.name + ' ' + remoteUserAccount.firstName + ' ' + remoteUserAccount.lastName }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="height: 700px">
    <div class="col-md-6" style="height: 500px; padding-left: 50px; padding-top: 20px; padding-bottom: 70px">
      <div class="col-md-12 disable-video-screen" style="display: flex" *ngIf="!localCameraEnabled">
        <div style="width: 150px; height: 150px; margin: auto">
          <jhi-single-file-template
            *ngIf="userAccount && userAccount.fotoPersona"
            class="tooltip-options-profile"
            [file]="userAccount.fotoPersona"
            [imageStyleProfile]="{ height: '100%', width: '100%' }"
            [borderImageType]="'rounded'"
            [endpoint]="'file'"
            [delete]="false"
          ></jhi-single-file-template>
        </div>
      </div>
      <div class="col-md-12 video-screen" id="local-player" *ngIf="localCameraEnabled"></div>
      <div class="col-md-12" style="display: flex; justify-content: center; height: 90px">
        <div style="margin-right: 60px">
          <div class="sonar-wrapper">
            <div class="sonar-emitter" style="display: flex; justify-content: center">
              <fa-icon style="position: absolute; font-size: 18px; margin: 15px; color: white" icon="video"></fa-icon>
              <div class="sonar-wave sonar-wave1"></div>
              <div class="sonar-wave sonar-wave2"></div>
              <div class="sonar-wave sonar-wave3"></div>
              <div class="sonar-wave sonar-wave4"></div>
            </div>
          </div>
        </div>
        <div style="margin-lefth: 60px">
          <div class="sonar-wrapper">
            <div class="sonar-emitter" style="display: flex; justify-content: center">
              <fa-icon style="position: absolute; font-size: 18px; margin: 15px; color: white" icon="microphone"></fa-icon>
              <div class="sonar-wave sonar-wave1"></div>
              <div class="sonar-wave sonar-wave2"></div>
              <div class="sonar-wave sonar-wave3"></div>
              <div class="sonar-wave sonar-wave4"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="height: 500px; padding-right: 50px; padding-top: 20px; padding-bottom: 70px">
      <div class="col-md-12 disable-video-screen" style="display: flex" *ngIf="!remoteCameraEnabled">
        <div style="width: 150px; height: 150px; margin: auto">
          <jhi-single-file-template
            *ngIf="remoteUserAccount && remoteUserAccount.fotoPersona"
            class="tooltip-options-profile"
            [file]="remoteUserAccount.fotoPersona"
            [imageStyleProfile]="{ height: '100%', width: '100%' }"
            [borderImageType]="'rounded'"
            [endpoint]="'file'"
            [delete]="false"
          ></jhi-single-file-template>
        </div>
      </div>
      <div class="col-md-12 video-screen" id="remote-playerlist"></div>
    </div>
  </div>
</ng-container>
