<!--****************  marca de agua de la compilacion que se esta usando ************************-->
<jhi-page-ribbon></jhi-page-ribbon>

<!--***************************************************************************************************-->

<div class="main-panel scrollStyle">
  <div class="main-card jh-card">
    <router-outlet></router-outlet>
  </div>
  <jhi-footer></jhi-footer>
</div>

<!--*********************  Barra de Navegacion de la aplicacion ***************************************-->
<div>
  <router-outlet name="navbar"></router-outlet>
</div>
<!--*******************************************************************************************************-->
