<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="col-md-12">
      <!-- Column -->
      <div class="main-card-profile">
        <div class="card-img-top">
          <div class="front-page"></div>
        </div>
        <div class="card-body little-profile text-center">
          <div class="pro-img">
            <div class="image-profile-size" *ngIf="loadComponentPhoto">
              <jhi-single-file-template
                *ngIf="account!.imageProfile"
                class="tooltip-options-profile"
                [file]="fileModel"
                [imageStyleProfile]="{ height: '100%', width: '100%' }"
                [borderImageType]="'rounded'"
                [endpoint]="'file'"
                [delete]="false"
              ></jhi-single-file-template>

              <div *ngIf="!account!.imageProfile" class="button-container m-1" [style]="{ height: '100%', width: '100%' }">
                <button
                  type="button"
                  class="btn btn-success profile-add-photo rounded-circle w-100 h-100"
                  style="border: 2px dashed"
                  (click)="abrirPerfil()"
                >
                  <fa-icon [icon]="'images'" [spin]="loading" size="2x" [fixedWidth]="true"></fa-icon>
                  <br /><span class="small" style="white-space: pre-line">Agrega una Imagen </span>
                </button>
              </div>

              <div class="navbar-profile-info" *ngIf="isAuthenticated() === true && account" id="profileInfo">
                <div class="row">
                  <div class="profile-name" (click)="abrirPerfil()">
                    <span class="center-items">{{ account.name }}</span>
                  </div>
                </div>
                <div class="profile-controls">
                  <button class="btn btn-secondary" (click)="abrirPerfil()">
                    <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
                    <fa-icon [icon]="'images'"></fa-icon>
                    <span jhiTranslate="damner-user-profile.user-tooltip-menu.user-new-photo"></span>
                  </button>
                  <button class="btn btn-secondary" (click)="abrirPerfil()">
                    <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
                    <fa-icon [icon]="'user'"></fa-icon>
                    <span jhiTranslate="damner-user-profile.user-tooltip-menu.user-view-photo"></span>
                  </button>
                  <button class="btn btn-secondary" (click)="abrirPerfil()">
                    <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
                    <fa-icon [icon]="'cogs'"></fa-icon>
                    <span jhiTranslate="damner-user-profile.user-tooltip-menu.user-view-options"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="user-details">
            <div class="row">
              <div class="col-md-12">
                <h3 class="m-b-0" *ngIf="account">{{ account ? account.name + ' ' + account.firstName + ' ' + account.lastName : '' }}</h3>
                <p>PACIENTE MOSCATI</p>
              </div>
              <div class="col-md-12 pl-0 pr-0 pb-3" style="display: flex; justify-content: center">
                <div (click)="nuevaCita()" [class]="'btn-new-query'">
                  <span class="text-options-menu">Nueva cita &nbsp; <fa-icon icon="calendar-plus"></fa-icon></span>
                </div>
              </div>
            </div>
          </div>
          <div class="btn-group options-group col-md-12 mr-2 pl-0 pr-0" role="group" aria-label="First group">
            <div class="col-md-3 pl-0 pr-0">
              <div class="col-md-12 pl-0 pr-0">
                <a (click)="changeButtonOptions(1)" [class]="'btn-options-menu'"
                  ><span><fa-icon [icon]="'calendar'"></fa-icon></span
                ></a>
              </div>
              <div class="col-md-12 pl-0 pr-0 text-options-menu">
                <span>Citas</span>
              </div>
            </div>
            <div class="col-md-3 pl-0 pr-0">
              <div class="col-md-12 pl-0 pr-0">
                <a (click)="changeButtonOptions(2)" [class]="'btn-options-menu'"
                  ><span><fa-icon [icon]="'envelope'"></fa-icon></span
                ></a>
              </div>
              <div class="col-md-12 text-options-menu"><span>Mensajes</span></div>
            </div>
            <div class="col-md-3 pl-0 pr-0">
              <div class="col-md-12 pl-0 pr-0">
                <a (click)="changeButtonOptions(3)" [class]="'btn-options-menu'"
                  ><span><fa-icon [icon]="'flask'"></fa-icon></span
                ></a>
              </div>
              <div class="col-md-12 pl-0 pr-0 text-options-menu"><span>Resultados</span></div>
            </div>
            <div class="col-md-3 pl-0 pr-0">
              <div class="col-md-12 pl-0 pr-0">
                <a (click)="changeButtonOptions(4)" [class]="'btn-options-menu'"
                  ><span><fa-icon [icon]="'pills'"></fa-icon></span
                ></a>
              </div>
              <div class="col-md-12 pl-0 pr-0 text-options-menu"><span>Medicaciones</span></div>
            </div>
          </div>
          <div class="py-3"><mat-divider></mat-divider></div>

          <div class="col-md-12" *ngIf="account && account.id">
            <jhi-notifications-user-list [userId]="account.id"></jhi-notifications-user-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
