<div class="login-card jh-card">
  <div class="py-5" style="height: 100%; width: 100%; display: flex; justify-content: center; align-content: center">
    <mat-card class="main-card-login" style="padding: 100px">
      <mat-card-title>
        <strong class="card-title" jhiTranslate="register.title" data-cy="registerTitle">Registration</strong>
      </mat-card-title>
      <mat-card-header>
        <div class="container">
          <div class="avatar">
            <a href="https://codepen.io/MarioDesigns/">
              <img src="../../../content/images/moscati-logo-m.png" alt="Skytsunami" />
            </a>
          </div>
        </div>
      </mat-card-header>

      <mat-card-content>
        <div style="width: 400px">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="alert alert-success" *ngIf="success" jhiTranslate="register.messages.success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
              </div>

              <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
                <strong>Registration failed!</strong> Please try again later.
              </div>

              <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">
                <strong>Login name already registered!</strong> Please choose another one.
              </div>

              <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">
                <strong>Email is already in use!</strong> Please choose another one.
              </div>

              <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="register.messages.error.dontmatch">
                The password and its confirmation do not match!
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-md-12">
              <form name="form" role="form" [formGroup]="registerForm" *ngIf="!success">
                <div class="form__group field">
                  <label class="form__label" for="username" jhiTranslate="register.form.name.label"></label>
                  <input
                    type="text"
                    class="form__field"
                    name="username"
                    id="username"
                    [(ngModel)]="damnerUser!.name"
                    placeholder="{{ 'register.form.name.placeholder' | translate }}"
                    formControlName="username"
                    data-cy="username"
                    #username
                    required
                  />

                  <div
                    *ngIf="
                      registerForm.get('username')!.invalid &&
                      (registerForm.get('username')!.dirty || registerForm.get('username')!.touched)
                    "
                  >
                    <small
                      class="form-text text-danger"
                      *ngIf="registerForm.get('username')?.errors?.required"
                      jhiTranslate="register.messages.validate.username.required"
                      >Your name is required.</small
                    >
                    <small
                      class="form-text text-danger"
                      *ngIf="registerForm.get('username')?.errors?.minlength"
                      jhiTranslate="register.messages.validate.username.minlength"
                      >Your username is required to be at least 1 character.
                    </small>
                    <small
                      class="form-text text-danger"
                      *ngIf="registerForm.get('username')?.errors?.maxlength"
                      jhiTranslate="register.messages.validate.username.maxlength"
                      >Your username cannot be longer than 50 characters.
                    </small>
                    <small
                      class="form-text text-danger"
                      *ngIf="registerForm.get('username')?.errors?.pattern"
                      jhiTranslate="register.messages.validate.username.pattern"
                      >Your username can only contain letters and digits.
                    </small>
                  </div>
                </div>

                <div class="form__group field">
                  <label class="form__label" for="firstName" jhiTranslate="register.form.firstName.label"></label>
                  <input
                    type="text"
                    class="form__field"
                    name="firstName"
                    id="firstName"
                    [(ngModel)]="damnerUser!.firstName"
                    placeholder="{{ 'register.form.firstName.placeholder' | translate }}"
                    formControlName="firstName"
                    data-cy="firstName"
                    #firstName
                    required
                  />

                  <div
                    *ngIf="
                      registerForm.get('firstName')!.invalid &&
                      (registerForm.get('firstName')!.dirty || registerForm.get('firstName')!.touched)
                    "
                  >
                    <small
                      class="form-text text-danger"
                      *ngIf="registerForm.get('firstName')?.errors?.required"
                      jhiTranslate="register.messages.validate.firstName.required"
                      >Your name is required.</small
                    >
                    <small
                      class="form-text text-danger"
                      *ngIf="registerForm.get('firstName')?.errors?.minlength"
                      jhiTranslate="register.messages.validate.firstName.minlength"
                      >Your username is required to be at least 1 character.
                    </small>
                    <small
                      class="form-text text-danger"
                      *ngIf="registerForm.get('firstName')?.errors?.maxlength"
                      jhiTranslate="register.messages.validate.firstName.maxlength"
                      >Your username cannot be longer than 50 characters.
                    </small>
                    <small
                      class="form-text text-danger"
                      *ngIf="registerForm.get('firstName')?.errors?.pattern"
                      jhiTranslate="register.messages.validate.firstName.pattern"
                      >Your username can only contain letters and digits.
                    </small>
                  </div>
                </div>

                <div class="form__group field">
                  <label class="form__label" for="lastName" jhiTranslate="register.form.lastName.label"></label>
                  <input
                    type="text"
                    class="form__field"
                    name="lastName"
                    id="lastName"
                    [(ngModel)]="damnerUser!.lastName"
                    placeholder="{{ 'register.form.lastName.placeholder' | translate }}"
                    formControlName="lastName"
                    data-cy="lastName"
                    #lastName
                  />
                </div>

                <div class="form__group">
                  <label class="form__label" for="nickname" jhiTranslate="register.form.nickname.label"></label>
                  <input
                    type="text"
                    class="form__field"
                    id="nickname"
                    [(ngModel)]="damnerUser!.nickName"
                    name="nickname"
                    placeholder="{{ 'register.form.nickname.placeholder' | translate }}"
                    formControlName="nickname"
                    data-cy="nickname"
                    #nickname
                    required
                  />

                  <div
                    *ngIf="
                      registerForm.get('nickname')!.invalid &&
                      (registerForm.get('nickname')!.dirty || registerForm.get('nickname')!.touched)
                    "
                  >
                    <small
                      class="form-text text-danger"
                      *ngIf="registerForm.get('nickname')?.errors?.required"
                      jhiTranslate="register.messages.validate.nickname.required"
                    >
                      Your username is required.
                    </small>

                    <small
                      class="form-text text-danger"
                      *ngIf="registerForm.get('nickname')?.errors?.minlength"
                      jhiTranslate="register.messages.validate.nickname.minlength"
                    >
                      Your username is required to be at least 1 character.
                    </small>

                    <small
                      class="form-text text-danger"
                      *ngIf="registerForm.get('nickname')?.errors?.maxlength"
                      jhiTranslate="register.messages.validate.nickname.maxlength"
                    >
                      Your username cannot be longer than 50 characters.
                    </small>

                    <small
                      class="form-text text-danger"
                      *ngIf="registerForm.get('nickname')?.errors?.pattern"
                      jhiTranslate="register.messages.validate.nickname.pattern"
                    >
                      Your username can only contain letters and digits.
                    </small>
                  </div>
                </div>

                <div class="form__group">
                  <label class="form__label" for="email" jhiTranslate="register.form.email.label"></label>
                  <input
                    type="email"
                    class="form__field"
                    id="email"
                    [(ngModel)]="damnerUser!.mail"
                    name="email"
                    placeholder="{{ 'register.form.email.placeholder' | translate }}"
                    formControlName="email"
                    data-cy="email"
                    #email
                    required
                  />

                  <div
                    *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)"
                  >
                    <small
                      class="form-text text-danger"
                      *ngIf="registerForm.get('email')?.errors?.required"
                      jhiTranslate="register.messages.validate.email.required"
                    >
                      Your email is required.
                    </small>

                    <small
                      class="form-text text-danger"
                      *ngIf="registerForm.get('email')?.errors?.invalid"
                      jhiTranslate="register.messages.validate.email.invalid"
                    >
                      Your email is invalid.
                    </small>

                    <small
                      class="form-text text-danger"
                      *ngIf="registerForm.get('email')?.errors?.minlength"
                      jhiTranslate="register.messages.validate.email.minlength"
                    >
                      Your email is required to be at least 5 characters.
                    </small>

                    <small
                      class="form-text text-danger"
                      *ngIf="registerForm.get('email')?.errors?.maxlength"
                      jhiTranslate="register.messages.validate.email.maxlength"
                    >
                      Your email cannot be longer than 100 characters.
                    </small>
                  </div>
                </div>

                <div class="form__group">
                  <label class="form__label" for="password" jhiTranslate="register.form.newpassword.label"></label>
                  <input
                    type="password"
                    class="form__field"
                    id="password"
                    [(ngModel)]="damnerUser!.password"
                    name="password"
                    placeholder="{{ 'register.form.newpassword.placeholder' | translate }}"
                    formControlName="password"
                    data-cy="firstPassword"
                    #password
                    required
                  />

                  <div
                    *ngIf="
                      registerForm.get('password')!.invalid &&
                      (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)
                    "
                  >
                    <small
                      class="form-text text-danger"
                      *ngIf="registerForm.get('password')?.errors?.required"
                      jhiTranslate="register.messages.validate.newpassword.required"
                    >
                      Your password is required.
                    </small>

                    <small
                      class="form-text text-danger"
                      *ngIf="registerForm.get('password')?.errors?.minlength"
                      jhiTranslate="register.messages.validate.newpassword.minlength"
                    >
                      Your password is required to be at least 4 characters.
                    </small>

                    <small
                      class="form-text text-danger"
                      *ngIf="registerForm.get('password')?.errors?.maxlength"
                      jhiTranslate="register.messages.validate.newpassword.maxlength"
                    >
                      Your password cannot be longer than 50 characters.
                    </small>
                  </div>

                  <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>
                </div>

                <div class="form__group">
                  <label class="form__label" for="confirmPassword" jhiTranslate="register.form.confirmpassword.label"></label>
                  <input
                    type="password"
                    class="form__field"
                    id="confirmPassword"
                    name="confirmPassword"
                    placeholder="{{ 'register.form.confirmpassword.placeholder' | translate }}"
                    formControlName="confirmPassword"
                    data-cy="secondPassword"
                    #confirmPassword
                    required
                  />

                  <div
                    *ngIf="
                      registerForm.get('confirmPassword')!.invalid &&
                      (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)
                    "
                  >
                    <small
                      class="form-text text-danger"
                      *ngIf="registerForm.get('confirmPassword')?.errors?.required"
                      jhiTranslate="register.messages.validate.confirmpassword.required"
                    >
                      Your confirmation password is required.
                    </small>

                    <small
                      class="form-text text-danger"
                      *ngIf="registerForm.get('confirmPassword')?.errors?.minlength"
                      jhiTranslate="register.messages.validate.confirmpassword.minlength"
                    >
                      Your confirmation password is required to be at least 4 characters.
                    </small>

                    <small
                      class="form-text text-danger"
                      *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength"
                      jhiTranslate="register.messages.validate.confirmpassword.maxlength"
                    >
                      Your confirmation password cannot be longer than 50 characters.
                    </small>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <button
          type="button"
          (click)="register()"
          [disabled]="registerForm.invalid"
          class="btn register-button"
          jhiTranslate="register.form.button"
          data-cy="submit"
        >
          Register
        </button>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
